.button {
  display: block;
  width: max-content;
  text-transform: uppercase;
  padding: 18px 20px;
  border: 3px solid var(--blue-color);
  border-radius: 20px;
  text-decoration: none;
  color: var(--blue-color);
  transition: all 0.25s ease;
  font-family: var(--heading);
  margin-top: 16px;
}

.button:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.button-group {
  display: flex;
  gap: 16px;
}

@media only screen and (min-width: 915px) {
  .button {
    margin-top: 35px;
  }

  .button-group {
    gap: 35px;
    margin-top: -19px;
  }
}
