.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-text {
  font-size: 0.75rem;
}

.footer-image {
  width: 30px;
  height: 30px;
}

@media only screen and (min-width: 544px) {
  .footer-text {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 915px) {

  .footer-text {
    font-size: 1.75rem;
  }

  .footer-image {
    width: 80px;
    height: 80px;
  }
}
