.hero {
  justify-content: space-between;
  width: 100%;
}

.hero-wrapper {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 185px;
}

.text-container.longer-text {
  max-width: 50%;
  gap: 0;
}

.hero-image {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 140px;
  height: 163px;
}

.hero-image.volcano {
  width: 160px;
  height: 160px;
}

@media only screen and (min-width: 544px) {
  .hero-wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .hero-image {
    top: 20px;
    right: 25px;
    width: 200px;
    height: 235px;
  }

  .hero-image.volcano {
    width: 230px;
    height: 230px;
  }

  .text-container.longer-text {
    max-width: 250px;
  }
}

@media only screen and (min-width: 915px) {
  .hero-wrapper {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .text-container {
    gap: 16px;
    max-width: 250px;
  }

  .text-container.longer-text {
    max-width: 550px;
    gap: 0;
  }

  .hero-image {
    top: 35px;
    right: 70px;
    width: 355px;
    height: 423px;
  }

  .hero-image.volcano {
    width: 335px;
    height: 335px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-image.volcano {
    width: 400px;
    height: 400px;
  }
}
