/* styling for page hero */
.hero {
  justify-content: space-between;
  width: 100%;
}

.hero-wrapper {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 185px;
}

.text-container .body.short {
  min-height: 24px;
}

.text-container .title.long {
  font-size: 2rem;
}

@media only screen and (min-width: 544px) {
  .hero-wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .text-container {
    max-width: 60%;
  }

  .text-container .body.short {
    min-height: 32px;
  }

  .text-container .title.long {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 915px) {
  .hero-wrapper {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .text-container {
    gap: 16px;
  }

  .text-container .body {
    max-width: 350px;
  }

  .text-container .body.short {
    min-height: 48px;
  }

  .text-container .title.long {
    font-size: 3.75rem;
  }
}
