/* navigation styling */
.navbar,
.nav-branding,
.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.navbar a,
.nav-list a,
.nav-list span {
  color: var(--blue-color);
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-wrapper:first-child {
  border-bottom: 1px solid var(--blue-color);
}

.navbar-wrapper {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar {
  position: fixed;
  top: 0;
  flex-direction: column;
  background-color: var(--white-color);
  z-index: 100;
  border-bottom: 2px solid var(--blue-color);
}

.nav-list {
  display: none;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  animation: dropFadeInDown 300ms;
}

.nav-list.toggle.active {
  display: block;
  position: absolute;
  top: 51px;
  left: 0;
}

.nav-list .nav-item {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--blue-color);
}

.nav-marker {
  display: none;
	position: absolute;
	background-color: var(--blue-color);
	transition: .3s ease left, width, opacity;
	opacity: 0;
  height: 100px;
  top: 0;
}

.nav-marker.active {
	opacity: 1;
}

.nav-image {
  width: 67px;
  height: 40px;
  margin-left: -15px;
}

.nav-image img {
  margin-top: -2px;
}

.nav-item span,
.sub-nav-item a {
  font-family: var(--heading);
  font-size: 0.75rem;
}

.nav-item,
.sub-nav {
  list-style: none;
  position: relative;
}

.sub-nav {
  background-color: var(--white-color);
  padding-top: 16px;
  padding-bottom: 16px;
}

.sub-nav-item::before {
  content: '';
  display: block;
  width: 16px;
  height: 1px;
  background-color: var(--blue-color);
}

.sub-nav-item:hover::before {
  width: 26px;
}

.sub-nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.sub-nav-item:last-child {
  margin-bottom: 0;
}

.nav-item > a,
.nav-item > span {
  display: flex;
  align-items: center;
  padding: 16px;
  height: 50px;
  box-sizing: border-box;
  transition: color 0.5s ease;
}

.nav-item > span {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.nav-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.nav-toggle {
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 15px 35px 16px 0px;
}

.nav-toggle span,
.nav-toggle span::before,
.nav-toggle span::after {
  pointer-events: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: var(--blue-color);
  position: absolute;
  display: block;
  content: '';
  transition: all 0.3s ease-in-out;
}

span::before {
  top: -15px;
}

span::after {
  bottom: -15px;
}

.nav-toggle.active span {
  background-color: transparent;
}

.nav-toggle.active span::before,
.nav-toggle.active span::after {
  top: 0;
}

.nav-toggle.active span::before {
  transform: rotate(45deg);
}

.nav-toggle.active span::after {
  transform: rotate(-45deg);
}

@media only screen and (min-width: 544px) {
  .nav-item a span,
  .nav-item span,
  .sub-nav-item a {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 915px) {
  .navbar-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-wrapper:first-child {
    border-bottom: 0;
  }

  .nav-list {
    display: flex;
    animation: none;
  }

  .nav-branding {
    width: auto;
  }

  .nav-marker {
    display: block;
  }

  .nav-image {
    width: 153px;
    height: 100px;
    margin-left: -30px;
  }

  .nav-image img {
    margin-top: -5px;
  }

  .nav-item {
    display: flex;
    align-items: center;
  }

  .nav-item,
  .nav-item > span {
    height: 100%;
  }

  .nav-item a {
    padding: 26px 15px;
    height: 100px;
  }

  .nav-item a:hover {
    text-decoration: none;
  }

  .nav-item a span,
  .nav-item span,
  .sub-nav-item a {
    font-size: 1.25rem;
  }

  .nav-item > span {
    background-color: transparent;
    color: var(--blue-color);
  }

  .nav-list .nav-item {
    background-color: transparent;
    border-bottom: 0;
  }

  .nav-item.active a span,
  .nav-item.active span,
  .nav-item a.active span {
    color: var(--white-color);
  }

  .nav-mobile {
    display: none;
  }

  .sub-nav {
    display: none;
    padding: 0;
    position: absolute;
    left: 0;
    top: 100%;
    width: 300px;
    border: 1px solid var(--blue-color);
  }

  .sub-nav.short-text {
    max-width: 195px;
  }

  .sub-nav-item {
    position: relative;
    height: 44px;
    padding: 10px 15px;
    margin: 0;
    border-bottom: 1px solid var(--blue-color);
    transition: all 0.2s ease;
  }

  .sub-nav-item:last-child {
    border-bottom: 0;
  }

  .sub-nav-item::before {
    width: 26px;
  }

  .sub-nav-item a {
    display: contents;
    height: auto;
    padding: 15px 15px 15px 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .sub-nav-item:hover::before {
    width: 26px;
    background-color: var(--white-color);
  }

  .sub-nav-item:hover {
    background-color: var(--blue-color);
  }

  .sub-nav-item:hover a {
    color: var(--white-color);
  }

  .nav-item:hover .sub-nav {
    display: block;
    animation: dropFadeInUp 300ms;
  }
}

/* navigation animation */
@keyframes dropFadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);

  }

  100% {
    opacity: 1;
    transform: none;
  }
}