.section {
  position: relative;
  padding: 15px;
}

.section.center-align {
  text-align: center;
}

.section.center-align {
  text-align: center;
}

.section.center-align p {
  margin: 0 auto;
}

.section.has-border {
  border-bottom: 1px solid var(--blue-color);
}

.section:first-child {
  padding-top: 0;
}

.section:last-child {
  padding-bottom: 0;
}

.section.grey-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.section.grey-bg:last-child {
  margin-bottom: 0;
}

.section p,
.section h2,
.section h3 {
  margin-bottom: 6px;
}

.section p:last-child {
  margin-bottom: 0;
}

.section .title-wrapper {
  margin-bottom: 16px;
}

.section .title-wrapper p {
  margin-bottom: 0;
  max-width: 75%;
}

.section .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

@media only screen and (min-width: 544px) {
  .section {
    padding: 20px 25px;
  }

  .section:first-child {
    padding-top: 0;
  }

  .section:last-child {
    padding-bottom: 0;
  }

  .page-first-content {
    max-width: 700px;
  }

  .section.grey-bg {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .section.grey-bg.right-align {
    align-items: flex-end;
    text-align: right;
  }

  .section.grey-bg.left-align {
    align-items: flex-start;
    text-align: left;
  }

  .section.grey-bg:last-child {
    margin-bottom: 0;
  }

  .section .content-wrapper {
    flex-direction: row;
  }

  .section.right-align {
    text-align: right;
  }

  .section.right-align p,
  .section.right-align .button {
    margin-left: auto;
  }

}

@media only screen and (min-width: 915px) {
  .section {
    padding: 35px 70px;
  }

  .page-first-content {
    max-width: 58%;
  }

  .summary-image p {
    max-width: unset;
  }

  .section:first-child {
    padding-top: 0;
  }

  .section:last-child {
    padding-bottom: 0;
  }

  .section p,
  .section h2,
  .section h3 {
    margin-bottom: 16px;
  }
  
  .section p:last-child {
    margin-bottom: 0;
  }

  .section.grey-bg {
    display: block;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 35px;
  }

  .section .title-wrapper {
    margin-bottom: 35px;
  }  

  .section.grey-bg:last-child {
    margin-bottom: 0;
  }

  .section .content-wrapper p {
    margin-bottom: 35px;
  }

  .section .title-wrapper p {
    max-width: unset;
  }

  .section.grey-bg.with-overflow-image {
    margin-bottom: 127px;
  }

  .section.grey-bg.with-overflow-image:last-child {
    margin-bottom: 92px;
  }
}

@media only screen and (min-width: 1024px) {
  .page-first-content {
    max-width: 65%;
  }
}

@media only screen and (min-width: 1200px) {
  .page-first-content {
    max-width: 700px;
  }
}