/* styling for volcano list 
found in homepage and volcano pages */
.volcanoes-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px 0 0;
  padding: 0;
}

.volcanoes-list li {
  list-style: none;
}

.volcanoes-list li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.volcano-image {
  width: 60%;
}

@media only screen and (min-width: 915px) {
  .volcanoes-list {
    flex-direction: row;
    align-items: flex-end;
  }

  .volcano-image {
    width: auto;
  }
}